<section class='login' id='login'>
    <div class='head'>
        <h1 class='company'>Login</h1>
    </div>
    <p class='msg'>¡Bienvenido!</p>
    <div class='form'>
        <form>
            <input type="text" placeholder='Usuario' class='text' id='username' required><br>
            <input type="password" placeholder='Contraseña' class='password'><br>
            <a href="#" class='btn-login' id='do-login'>Login</a>
            <a href="#" class='forgot'><u>Regístrate</u></a>
        </form>
    </div>
</section>

