form .form-field:nth-child(1)::before {
    background-image: url(../../../../img/username-icon.png);
    width: 16px;
    height: 16px;
}

form .form-field:nth-child(2)::before {
    background-image: url(../../../../img/user-icon.png);
    width: 20px;
    height: 20px;
    top: 15px;
}

form .form-field:nth-child(3)::before {
    background-image: url(../../../../img/lock-icon.png);
    width: 16px;
    height: 16px;
}